.footer-inner {
    background-color: #fff4bf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Kiwi Maru", sans-serif;
    font-style: normal;
    padding: 12em 16em;
}

.legal-page .footer-inner {
    background-color: #fffdf0;
}

.footer-info {
    width: 50%;
}

.footer-logo__link {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}

.footer-logo__img {
    width: 6.5%;
    height: auto;
    cursor: pointer;
}

.footer-logo__text {
    color: #f0a13a;
    font-size: 28em;
    font-weight: 500;
}

.footer-farm-info {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 60em;
    margin: 10em 0;
}

.footer-farm-info-item__label {
    display: block;
    color: #2e2e2e;
    font-size: 12em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.footer-farm-info-item__value {
    display: block;
    color: #2e2e2e;
    font-size: 12em;
    font-weight: 400;
}

.footer-copyright__text {
    color: #2e2e2e;
    font-size: 12em;
    font-weight: 400;
}

.footer-nav-list {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 40em;
    padding-left: 0;
}

.footer-nav-list-item {
    list-style: none;
}

.footer-nav-list-item__link {
    color: #2e2e2e;
    font-size: 14em;
    font-weight: 400;
    text-decoration: none;
}

.footer-nav-list-item__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.3em;
    text-decoration-color: #60b04e;
}
