.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.header-inner {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Kiwi Maru", sans-serif;
    font-style: normal;
    padding: 1em 4em;
}

.header-logo {
    width: 5%;
    text-align: center;
}

.header-logo__link {
    text-decoration: none;
}

.header-logo__img {
    width: 65%;
    height: auto;
    cursor: pointer;
}

.header-logo__text {
    display: block;
    color: #f0a13a;
    font-size: 12em;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16em;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 2em;
}

.nav-item__icon {
    width: 20em;
}

.nav-item__label {
    color: #2e2e2e;
    font-size: 14em;
    font-weight: 400;
}

.nav-item:hover .nav-item__label {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.3em;
    text-decoration-color: #60b04e;
}
