body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: "Inika", serif;
    font-size: 1px;
    font-size: calc(100 / 1920 * 1vw);
    /*この式でemで設定した文字がスケーリングされる*/
    margin: 0;
}

@media (max-width: 1440px) {
    body {
        font-size: 1px;
        font-size: calc(100 / 1440 * 1vw);
        /*この式でemで設定した文字がスケーリングされる*/
    }
}

@media (max-width: 567px) {
    body {
        font-size: 1px;
        font-size: calc(100 / 414 * 1vw);
        /*この式でemで設定した文字がスケーリングされる*/
    }
}

@media screen and (min-width: 1921px) {
    body {
        font-size: 1px;
        font-size: calc(100 / 2520 * 1vw);
        /*この式でemで設定した文字がスケーリングされる*/
    }
}